/*
+ ========================= +
+ Darkness Code Blocks Theme for Discord +
+ Made By LyGhT - Huge shoutout to cruxie develop this Theme +
+ ========================= +
The author LyGhT retains full rights of this code.
If you enjoy using the theme, help spread the word!
*/

/*###################################################################################################*/
/* Main */
@use 'Css/MiniThemes/CodeBlocks.css';

:root{
  --dark:#050608;
  --medium:#0b0b0d;
  --light:#15151a;
}